<div>
    <h2 class="title"></h2>
    <div class="page">
        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default" style="border-radius:0px;">
                    <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>User Details
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img class="smallrounded" ng-src="{{userdetails.profilepic}}">
                                <p class="namebig">{{userdetails.name}}</p>
                                <button class="btn btn-primary all-btn" ng-click="opensocailpage();">View Profile</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>